## 移除重复数据
`duplicated`：返回一个布尔型Series，表示各行是否是重复行  
`drop_duplicates`：返回一个移除了重复行的DataFrame  
  
参数  
`subset`：传入list格式的列名，对指定列的内容进行重复项操作  
`keep`：默认'first'，移除重复值时保留第一个值；可选'last'，保留最后一个重复值  
`inplace`：是否直接修改对象而不创建副本，默认'False'

In [1]:
import numpy as np
import pandas as pd
from numpy import nan as NA

In [2]:
data = pd.DataFrame({
    'k1': ['one', 'two'] * 3 + ['two'],
    'k2': [1, 1, 2, 3, 3, 4, 4],
    'k3': list('aaabbbb')
})
data

    k1  k2 k3
0  one   1  a
1  two   1  a
2  one   2  a
3  two   3  b
4  one   3  b
5  two   4  b
6  two   4  b

In [3]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [4]:
data.drop_duplicates(['k1', 'k3'])  # 对指定列的内容进行重复项操作

    k1  k2 k3
0  one   1  a
1  two   1  a
3  two   3  b
4  one   3  b

In [5]:
data.drop_duplicates(['k1', 'k3'], keep='last')  # keep='last' 保留最后一个重复值

    k1  k2 k3
1  two   1  a
2  one   2  a
4  one   3  b
6  two   4  b